/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styles */
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    padding: 2rem;
    background-color: #fdfdfd;
    color: #000;
  }
  
  
  header, footer {
    margin-bottom: 2rem;
  }

  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  section ul {
    margin-left: 1.5rem;
    font-size: 0.95em;
  }
  